build/sources/steam-*.fc18.src.rpm
build/sources/STEAM-LICENSE.txt
build/sources/Valve-Permission-To-Redistribute-Steam-in-RPM.txt
build/sources/steam-*-fedora-rpmnames.patch
build/sources/steam-*-fedora-steamdeps.patch
build/sources/steam-*-fedora.patch
build/sources/steam_*_i386.deb
